.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}

.header__logo {
  object-fit: contain;
  width: 5em;
}

.header__logo:hover {
  cursor: pointer;
}

.icon {
  margin: 10px !important;
}
